node_modules
dist
.env
*.zip
ASPHALT-*.html
BLACK-GOLD-*.html
Akron-*.html
BLACK-GOLD-*.zip
!index.html
.asphalt-apk
Black-Gold-*
.black-gold*
.android
android-sdk
.asd
uploads
.asphalt-assistant*
Asphalt-Assistant-Deploy
asphalt-apk
Black-Gold-Android-File-Ready
jdk21
